@media (max-width: 600px) {
    * {
        font-size: 8pt;
    }

    header h1 {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    .menu-mobile {
        display: inline-block;
    }

    .links-cabecalho {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #0e1a22;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .links-cabecalho a {
        padding: 15px;
        display: block;
    }

    .links-cabecalho.ativo {
        display: flex;
    }

    .menu-mobile {
        display: block;
    }

    #area_busca {
        display: none;
    }

    #sec_dois p, #ac_zero p {
        width: 100%;
        margin: 0;
    }

    #ac_um .container {
        flex-flow: column wrap;
    }
}