@media (max-width: 600px) {
    * {
        font-size: 8pt;
    }

    header h1 {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    .menu-mobile {
        display: inline-block;
    }

    .links-cabecalho {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #0e1a22;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .links-cabecalho a {
        padding: 15px;
        display: block;
    }

    .links-cabecalho.ativo {
        display: flex;
    }

    .menu-mobile {
        display: block;
    }

    #area_busca {
        display: none;
    }

    #sec_dois p, #ac_zero p {
        width: 100%;
        margin: 0;
    }

    #sec_dois ul {
        grid-template-columns: repeat(2, 1fr);
    }

    #sec_um img {
        position: relative;
        display: block;
        margin: 10px auto;
        width: 16rem;
        height: 18rem;
        border-radius: 12px;
    }

    #ac_um .container {
        flex-flow: column wrap;
    }

    .modal form {
        width: 100%;
        height: 100%;
    }

    .topo > div:nth-child(2) {
        width: 30%;
        position: relative;
        font-size: 0.8rem;
        animation: paraCima 1.2s both 0.5s;
    }
}